<!-- navbar-->
<header class="header">
    <!-- Primary Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light py-2 border-bottom border-gray bg-white">
      <div class="container d-flex align-items-center justify-content-beween">
        <img src="assets/img/logo3.png" width="300" height="130" alt="">
      </div>
    </nav>
    <!-- Secondary Navbar                -->
    <nav class="navbar navbar-expand-lg navbar-light py-0 shadow-sm bg-light ">
      <div class="container">
        <div class="collapse navbar-collapse py-1 py-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active "><a class="nav-link pl-lg-0" routerLink ="Home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="AboutUS">About Us</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="Services">Services </a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" routerLink="Elevators" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Elevators</a>
              <div class="dropdown-menu border-0 shadow-sm" aria-labelledby="navbarDropdown"><a class="dropdown-item text-muted" href="#">Action</a><a class="dropdown-item text-muted" href="#">Another action</a><a class="dropdown-item text-muted" href="#">Something else here</a></div>
              <li class="nav-item"><a class="nav-link" routerLink="ContactUs">Contact Us </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>