
<section style="
 background: url(assets/img/bg1.webp); 
background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;">


<section class="hero-home bg-cover bg-center" style="background: url(assets/img/aboutus.jpg); opacity: 75%;filter: grayscale(60%); ">
    <div class="container index-forward py-5 mb-5">
        <div class="row text-white">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</section>

<section class="info py-5">
    <div class="container " style="display: flex; justify-content: center;box-shadow: 0 0 4px 1px black; border-radius: 20% 20%;">

        <div class="main-title">
            <div class="home-title py-4" style="text-align: center;">
                <h2 class="text-uppercase lined text-success">Welcome to</h2><br>
                <h2 class="text-uppercase lined lined-center text-primary text-danger"> Starway Elevators & Raj Technologies</h2>
            </div>
        </div>
    </div>
</section>
<section class="departments p-0 ">
    <div class="container" style="display: flex; justify-content: center;">
        <div class="row align-items-center">
            <!-- <div class="col-lg-5 d-none d-lg-block"><img class="img-fluid" src="assets/img/logo.png"
                    alt="doctor"></div> -->
                  <!--  <div class="col-lg-5 col-sm-4 xs-mb-20" id="logo">
                        <img class="img-fluid mx-auto" src="assets/img/logo.png">
                    </div>-->
            <div class="col-lg-6 mb-5">
                <div class="accordion" id="accordionExample">
                    <div class=" mb-1">
                        <div class="collapse show" id="collapseOne" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body px-4">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. At vero eos et accusam et justo duo
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. At vero eos et accusam et justo duo.</p>
                                <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                    diam nonumy eirmod.
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. At vero eos et accusam et justo duo
                                    diam nonumy eirmod.
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. At vero eos et accusam et justo duo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <!-- <div class="col-lg-6 col-sm-4 mb-5" id="logo">
                <img class="img-fluid mx-auto" src="assets/img/logo.png">-->
                <!-- Slide show demo-->
                <div id="carouselExampleInterval" class=" col-lg-6 col-sm-4 mb-5 " data-bs-ride="carousel">
                    <div class="carousel-inner" style="height:360px; border-radius: 30px;opacity: 70%;filter: grayscale(60%);">
                    
                      <div class="carousel-item active">
                        <img src="assets/img/lift.jpg" class="d-block w-100 " alt="..." >
                      </div>
                    </div>
                  </div>
            </div>
        </div>  
</section>
<section class="info py-8 ">
    <div class="container " style="display: flex; justify-content: center; filter: url(#threshold) blur(0.px);">
        <div class="main-title">
            <div class="home-title " style="text-align: center; ">
                <h2 class="text-uppercase lined text-success ">Our <span class="text-danger">Vision</span> </h2><br>
                <p class="card-text p-2 text-dark" style="font-family: Noto Sans, 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Lucida Sans', 'Lucida Sans Regular', 
                'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: large;">We give people freedom to connect and thrive in a taller, faster, smarter world.</p>
            </div>
        </div>
    </div>
</section>
<section class="info p-0">
    <div class="container " style="display: flex; justify-content: center;filter: url(#threshold) blur(0.px);">
        <div class="main-title ">
            <div class="home-title " style="text-align: center;">
                <h2 class="text-uppercase lined text-success">Our <span class="text-danger">Mission</span> </h2><br>
                <p class="card-text p-2 text-dark" style="font-family: Noto Sans, 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Lucida Sans', 'Lucida Sans Regular', 
                'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: large;">To be a world-class, customer-centric, service-oriented company.</p>
            </div>
        </div>
    </div>
</section>
<section class="info p-15 pb-0">
    <div class="container " style="display: flex; justify-content: center; filter: url(#threshold) blur(0.px);">
        <div class="main-title">
            <div class="home-title " style="text-align: center;">
                <h2 class="text-uppercase lined text-success ">Our <span class="text-danger">Values</span> </h2><br>
                <p class="card-text p-2 text-dark" style="font-family: Noto Sans, 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Lucida Sans', 'Lucida Sans Regular', 
                'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: large;">We put people at the center of everything we do.
                    We are reliable, smart and focused on the future.<br>
                    We are creating a more personal, connected world.<br>
                    We roll up our sleeves to get it done.</p>
            </div>
        </div>
    </div>
</section>  
<!--<section>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner mb-0 bg-center" style="height: 550px;">
      <div class="carousel-item active" data-bs-interval="2000" style="position: relative;">
        <img src="assets/img/vision.avif" class="d-block w-100 "  alt="..." style="opacity: 60%; height: fit-content;">
      </div>
      <div class="carousel-item" data-bs-interval="2000" style="position: relative;">
        <img src="assets/img/about4.avif" class="d-block w-100"  alt="..." style="opacity: 60%; height: fit-content;">
      </div>
      <div class="carousel-item" data-bs-interval="2000" style="position: relative;">
        <img src="assets/img/slide3.avif" class="d-block w-100 "  alt="..." style="opacity: 60%; height: fit-content;">
      </div>
      <div class="row text-white">
        <div class="text-center " style="position: absolute;margin-top: 20%;">
            <p class="h2 my-4  text-dark">Your Safty in our hand</p>
        </div>
    </div>
</div>
    </div>

</section>-->
</section>

